// bower:scss
// endbower

@import "partials/_animation.scss";
@import "partials/_font.scss";

$mobile-percent := 80%
$min-width := 200px

body {
  background: #44D1E1;
  font-family: LBL, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
}

h1,h2,h3 {
  font-family: LB, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  width: $mobile-percent;
  min-width: $min-width;
}

header {
  div.logo {
    margin: 0 auto;
    width: $mobile-percent;
    min-width: $min-width;
    img {
      width: 100%;
    }
  }
  #send-download-link-form {
    input {
      border: 2px solid #ccc;
      background: #fff;
      border-radius: 2px;
      font-size: 14px; font-weight: bold; color: #ccc;
      vertical-align: middle;
      padding: 11px 20px;
      width: $mobile-percent;
      min-width: $min-width;
    }
  }
  #mobile-down-arrow {
    text-decoration: none;
    color: #fff;
    animation: arrowing 1.5s infinite;
  }
}

main {
  #mechanism {
    li {
      padding: 20px auto;
      list-style: decimal inside;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

footer {
  #social-buttons {
    width: $mobile-percent;
    min-width: $min-width;
    margin: 0 auto;
    li {
      list-style: none;
      text-align: left;
    }
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 480px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: inherit;
  }
}
