// bower:scss
// endbower

@import "partials/_reset.scss";
@import "partials/_animation.scss";
@import "partials/_font.scss";

$mobile-percent : 40%;
$min-width : 240px;
$mobile-bg-color: #44D1E1;
$mobile-text-color: #fff;
$mobile-button-color: #003F46;

body {
  background: $mobile-bg-color;
  font-family: LBL, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $mobile-text-color;
  text-align: center;
}

h1,h2,h3 {
  font-family: LB, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: $mobile-text-color;
}

section {
padding-top: 30px;
}
header {
  div.logo {
    margin: 0 auto;
    width: $mobile-percent;
    min-width: $min-width;
    img {
      width: 100%;
    }
  }
  #send-download-link-form {
    input {
      width: $mobile-percent;
      min-width: $min-width;
      display: block;
      margin: 10px auto;
      border: 0;
      color: $mobile-text-color;
      &#send-download-link-email {
      padding: 7px 0;
        border-radius: 5px;
        border: 1px solid $mobile-button-color;
        box-shadow: inset 0 0 1px  $mobile-button-color;
      }
      &#send-download-link-button {
      padding: 11px 0;
        background-color: $mobile-button-color;
        border-radius: 5px;
      }
    }
  }
  #mobile-down-arrow {
    animation: arrowing 1.5s infinite;
  }
}

main {
  #mechanism {
    li {
      padding: 20px auto;
      list-style: decimal inside;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

footer {
  #social-buttons {
    width: $mobile-percent;
    min-width: $min-width;
    margin: 0 auto;
    li {
      list-style: none;
      text-align: left;
      img {
        height: 48px;
        vertical-align: middle;
      }
    }
  }
}

.browserupgrade {
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 480px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: inherit;
  }
}
