.desktop-only {
  display: none;
}

@media only screen and (min-width: $breakpoint-mobile) {
  body {
    background-color: $desktop-bg-color;
    color: $desktop-text-color;
  }
  a {
    color: $desktop-text-color;
  }
  p {
    font-size: 24px;
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: inherit;
  }

  header {
    width: $desktop-percent;
    min-width: $desktop-min-width;
    margin: 0 auto;
    h1 {
      font-size: 46px;
    }
    #download-button {
      margin: 0 auto;
      background-color: $mobile-bg-color;
      border: 0;
      border-radius: 5px;
      font-size: 36px;
      color: #fff;
    }
  }

  main {
    section#mechanism {
      width: $desktop-percent;
      margin: 0 auto;
      li {
        width: 50%;
        float: left;
        img {
          filter: invert(100%);
        }
      }
    }
  }

  footer {
    display: table;
    background-color: $desktop-main-color;

    section#press {
      clear: both;
      li {
        display: inline;
      }
    }

    section#faq {
      a {
        font-weight: bold;
      }
    }
    section#subscribe, section#firetweet {
      width: $desktop-percent-wide;
      margin: 0 auto;
    }
    section#subscribe {
      form { width: 100%; }
      input {
        margin: 0 auto;
        font-size: 18px;
        line-height: 24px;
        &[type="email"] {
          border: 6px solid #000;
          width: 260px;
        }
        &[type="submit"] {
          background-color: #000;
          color: #fff;
          margin-top: 10px;
          display: block;
          width: 100px;
          border: 0;
          border-radius: 10px;
        }
      }
    }
    section#firetweet {
      padding-top: 50px;
    }

    section#social {
      display: table-footer-group;
      width: $desktop-percent-wide;
      background-color: $desktop-footer-color;
      h2, a {
        padding-top: 60px;
        color: #fff;
      }
      li {
        display: inline;
        padding: 0 10px 80px 10px;
        img { display: none; }
      }
      // dirty tricks to position github link to the right
      h2 {
        display: inline-block;
        margin: 0 auto;
        padding-left: 190px;
        padding-right: 180px;
        &#contribute{
          margin: 0;
          padding-left: 0;
          float: right;
        }
      }
      #github {
        float: right;
        padding-right: 215px;
      }
    }
  }
}
