@font-face { font-family: LB; src: url('/styles/fonts/ProximaNova-Bold.otf'); }
@font-face { font-family: LBL; src: url('/styles/fonts/ProximaNova-Light.otf'); }
@font-face { font-family: LBR; src: url('/styles/fonts/ProximaNova-Regular.otf'); }
@font-face { font-family: LBRA; src: url('/styles/fonts/ProximaNova-Alt-Semibold-Italic.otf'); }
