<section class="w100" id="coming-soon">
    <div class="section-wrapper">
        <div class="cs-image">
            <img src="{% static '/static/images/pink_wall.svg' %}" alt="">
        </div>
        <div class="cs-text">
            <div class="quote">
                <span class="stars">★ ★ ★ ★ ★</span>
                <p data-localize="USER_COMMENT_1">“赞爆了。真的比什么VPN都好。”</p>
                <span class="author" data-localize="USER_COMMENT_2">——Google Play 上的蓝灯用户评论</span>
            </div>
            <p class="cs-ios" data-localize="IOS_COMING_SOON">iOS 版蓝灯即将发布</p>
        </div>
    </div>
</section> 
