<section class="w100" id="download-now">
	<div class="section-wrapper">
		<h2 data-localize="DOWNLOAD_NOW_UPGRADE_PRO">现在下载并升级到专业版</h2>
		<ul class="why-download">
			<li>
				<span class="blue-checkmark">
					<img src="{% static '/static/images/blue_check.svg' %}" alt="">
				</span>
				<span data-localize="FASTER_SPEED">速度更快</span>
			</li>
			<li>
				<span class="blue-checkmark">
					<img src="{% static '/static/images/blue_check.svg' %}" alt="">
				</span>
				<span data-localize="UNLIMITED_DATA">无限流量</span>
			</li>
			<li>
				<span class="blue-checkmark">
					<img src="{% static '/static/images/blue_check.svg' %}" alt="">
				</span>
				<span data-localize="BLOCKING_RESISTANCE">不怕封锁</span>
			</li>
		</ul>
		<div class="download-buttons">

			<a href="https://s3.amazonaws.com/lantern/lantern-installer-beta.dmg" id="download-button" class="get-desktop" data-localize="GET_DESKTOP">获得桌面版</a>
			<a href="https://s3.amazonaws.com/lantern/lantern-installer-beta.apk" id="download-android-button" class="get-android" data-localize="GET_ANDROID">获得安卓版</a>
            <a href="" class="get-desktop" id="on-mobile" data-localize="GET_DESKTOP">Get Desktop</a>
			<div class="send-link">
				<form action="">
					<input type="email" placeholder="your@email.com">
					<input type="submit" value="Send Link">
				</form>
			</div>
			<span data-localize="FOR_OS">支持Windows、安卓、Mac 和 Ubuntu。iOS 版本即将发布</span>
		</div>
		<div class="google-play">
			<span data-localize="ALSO_AVAILABLE">或者移步</span>
			<a href="https://play.google.com/store/apps/details?id=org.getlantern.lantern" target="_blank">
				<img src="{% static '/static/images/google-play-badge.png' %}" alt="">
			</a>
		</div>
		<span class="learn-more">Learn More ↓</span>
	</div>
</section>
