<section class="w100" id="features">
    <div class="section-wrapper">
        <div class="icons">
            <div class="col">
                <img src="{% static '/static/images/icon_fast.svg' %}" alt="">
                <span data-localize="FEATURE_1">快速</span>
                <p data-localize="FEATURE_1_DETAIL">蓝灯让你告诉访问全球网络</p>
            </div>
            <div class="col">
                <img src="{% static '/static/images/icon_easy.svg' %}" alt="">
                <span data-localize="FEATURE_2">简单</span>
                <p data-localize="FEATURE_2_DETAIL">下载、安装、开始浏览和使用程序，就这么简单！</p>
            </div>
            <div class="col">
                <img src="{% static '/static/images/icon_smart.svg' %}" alt="">
                <span data-localize="FEATURE_3">机智</span>
                <p data-localize="FEATURE_3_DETAIL">蓝灯使用一系列技术保持可用</p>
            </div>
            <div class="col">
                <img src="{% static '/static/images/icon_secure.svg ' %}" alt="">
                <span data-localize="FEATURE_4">安全</span>
                <p data-localize="FEATURE_4_DETAIL">蓝灯加密您与受屏蔽网站间的交流</p>
            </div>
        </div>
    </div>
</section> 
