<header class="fixed">
      <div class="header-wrapper">
        <h1><a href="{% static '/index.html' %}">
          <img id="logo" style="display:none;" src="{% static '/static/images/logo.png' %}" alt="Lantern">
          <img id="chineselogo" src="{% static '/static/images/chineselogo.svg' %}" alt="Lantern">

        </a></h1>
        
        <a href="#download-now" class="download" data-localize="DOWNLOAD">Download</a>
        
        <div class="language-wrapper">
          {% include 'language.html' %}
        </div>
        
      </div>
</header>
