<section class="w100" id="press">
    <div class="section-wrapper">
        <h3 data-localize="PRESS">媒体报道</h3>
        <div class="press">
            <a href="http://sinosphere.blogs.nytimes.com/2015/03/30/q-and-a-adam-fisk-on-evading-internet-censorship-in-china/" target="_blank">
                <img src="{% static '/static/images/nytimes.svg' %}" alt="">
            </a>
            <a href="http://www.scmp.com/news/china-insider/article/1372661/use-lantern-software-means-view-banned-websites-grows-china" target="_blank">
                <img src="{% static '/static/images/schmpost.svg' %}" alt="">
            </a>
            <a href="http://motherboard.vice.com/read/this-app-lets-chinas-netizens-use-twitter-where-its-censored" target="_blank">
                <img src="{% static '/static/images/vice.svg' %}" alt="">
            </a>
            <a href="http://www.washingtonpost.com/blogs/the-switch/wp/2014/08/21/using-peer-to-peer-technology-to-crowdsource-a-way-around-online-censorship/" target="_blank">
                <img src="{% static '/static/images/washpost.svg' %}" alt="">
            </a>
            <a href="http://www.dailydot.com/politics/lantern-online-censorship/" target="_blank">
                <img src="{% static '/static/images/dailydot.svg' %}" alt="">
            </a>
            <a href=" http://www.wsj.com/articles/u-s-cloud-providers-face-backlash-from-chinas-censors-1426541126" target="_blank">
                <img src="{% static '/static/images/wallstjournal.svg' %}" alt="">
            </a>
            <a href="http://www.businessinsider.com/firetweet-gives-mobile-twitter-access-in-censored-countries-2015-6" target="_blank">
                <img src="{% static '/static/images/bussins.svg' %}" alt="">
            </a>
            <a href="http://www.fastcoexist.com/3046650/is-some-autocratic-regime-blocking-your-twitter-firetweet-will-let-you-in" target="_blank">
                <img src="{% static '/static/images/fastco.svg' %}" alt="">
            </a>
        </div>
    </div>
</section>
