<section class="w100" id="coming-soon">
    <div class="section-wrapper">
        <div class="cs-image">
            <img src="{% static '/static/images/pink_wall.svg' %}" alt="">
        </div>
        <div class="cs-text">
            <div class="quote">
                <span class="stars">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                <p data-localize="USER_COMMENT_1">"Awesome. It's truly better than any VPN."</p>
                <span class="author" data-localize="USER_COMMENT_2">- Lantern User comment on Google Play Store</span>
            </div>
            <p class="cs-ios" data-localize="IOS_COMING_SOON">Lantern for iOS coming soon</p>
        </div>
    </div>
</section> 
