<section id="download">
  <p id="current-version" class="centered">
    <span data-localize="CURRENT_VERSION">Current version:</span>
    <span id="version-number"></span>
  </p>

  <div id="download-desktop">
    <a href="" id="download-button" class="button-dwnld download-desktop" data-localize="DOWNLOAD_DESKTOP">Download Desktop</a>
  </div>

  <div id="download-android">
    <a href="" id="download-android-button" class="button-dwnld" data-localize="DOWNLOAD_ANDROID">Download Android</a>
  </div>

  <!--<p id="other-systems" class="centered" data-localize="DOWNLOAD_OTHER_SYSTEMS">
    Or for other systems
  </p>-->

  <div id="download-mobile">
    <form action="">
      <input id="send-download-link-email" type="email" placeholder="">
      <input type="submit" data-localize="DOWNLOAD_LANTERN_MOBILE" value="Send me the Download Link">
    </form>

    <p id="thanks-after-email" data-localize="EMAIL_THANK_YOU" class="centered">
      Thank you!<br>An email will be arriving shortly.
    </p>
  </div>

  <p id="google-play" class="centered">
    <span data-localize="ALSO_AVAILABLE">Also available on</span>
    <a href="https://play.google.com/store/apps/details?id=org.getlantern.lantern" target="_blank"><img id="gplay_badge" /></a>
  </p>
</section>
