<section class="w100" id="download-now">
  <div class="section-wrapper">
    <h2 data-localize="DOWNLOAD_NOW_UPGRADE_PRO">Download Now and Upgrade to Pro</h2>
    <ul class="why-download">
      <li>
        <span class="blue-checkmark">
          <img src="/static/images/blue_check.svg" alt="">
        </span>
        <span data-localize="FASTER_SPEED">Faster Speed</span>
      </li>
      <li>
        <span class="blue-checkmark">
          <img src="/static/images/blue_check.svg" alt="">
        </span>
        <span data-localize="UNLIMITED_DATA">Unlimited Data</span>
      </li>
      <li>
        <span class="blue-checkmark">
          <img src="/static/images/blue_check.svg" alt="">
        </span>
        <span data-localize="BLOCKING_RESISTANCE">Blocking Resistance</span>
      </li>
    </ul>
    <div class="download-buttons">

      <a href="" id="download-button" class="get-desktop">Get Desktop</a>
      <a href="" id="download-android-button" class="get-android">Get Android</a>
      <div class="send-link">
        <form action="">
          <input type="email" placeholder="your@email.com">
          <input type="submit" value="Send Link">
        </form>
      </div>
      <span data-localize="FOR_OS">For Windows, Android, Mac, Ubuntu. iOS coming soon</span>
    </div>
    <div class="google-play">
        <span data-localize="ALSO_AVAILABLE">Also available on</span>
        <a href="https://play.google.com/store/apps/details?id=org.getlantern.lantern" target="_blank">
          <img src="/static/images/google-play-badge.png" alt="">
        </a>
    </div>
    <span class="learn-more">Learn More &darr;</span>
  </div>
</section>
