<section class="w100" id="features">
  <div class="section-wrapper">
    <div class="icons">
     <div class="col">
       <img src="/static/images/icon_fast.svg" alt="">
       <span data-localize="FEATURE_1">Fast</span>
       <p data-localize="FEATURE_1_DETAIL">Lantern delivers fast access to the open Internet</p>
    </div>
    <div class="col">
      <img src="/static/images/icon_easy.svg" alt="">
      <span data-localize="FEATURE_2">Easy</span>
      <p data-localize="FEATURE_2_DETAIL">Just download, install, and start browsing and using apps!</p>
    </div>
    <div class="col">
      <img src="/static/images/icon_smart.svg" alt="">
      <span data-localize="FEATURE_3">Smart</span>
      <p data-localize="FEATURE_3_DETAIL">Lantern uses a variety of tecniques to stay unblocked</p>
    </div>
    <div class="col">
      <img src="/static/images/icon_secure.svg" alt="">
      <span data-localize="FEATURE_4">Secure</span>
      <p data-localize="FEATURE_4_DETAIL">Lantern encrypts all of your traffic to blocked sites</p>
    </div>
  </div>
  </div>
</section>
