<footer>
  <div class="newsletter">
    <h4 data-localize="NEWSLETTER_1">Sign up for our newsletter to receive updates</h4>
    <form class="news-form" action="//getlantern.us2.list-manage.com/subscribe/post?u=0ac18298d5d0330dcda8f48aa&amp;id=f06770f311" method="POST" target="_blank">
      <input name="EMAIL" type="email" placeholder="your@email.com">
      <button data-localize="NEWSLETTER_2" type="submit">Join</button>
      <!--<input type="submit" value="Join" data-localize="NEWSLETTER_2">-->
    </form>
  </div>

  <div class="follow-us">
    <div class="footer-link">
      <a href="https://www.facebook.com/getlantern?fref=ts" target="_blank">
      Facebook
      </a>
    </div>
    <div class="footer-link">
      <a href="https://www.facebook.com/getlanternpersian?fref=ts" target="_blank">
      Facebook Persian
      </a>
    </div>
    <div class="footer-link">
      <a href="https://twitter.com/getlantern" target="_blank">
       Twitter
      </a>
    </div>
    <div class="footer-link">
      <a href="https://github.com/getlantern" target="_blank">
        Contribute on Github
      </a>
    </div>
    <div class="footer-link">
      <a href="https://s3.amazonaws.com/lantern/LanternPrivacyPolicy.pdf" target="_blank">
        Privacy Policy
      </a>
    </div>
    <div class="footer-link">
      <a href="https://s3.amazonaws.com/lantern/Lantern-TOS.pdf" target="_blank">
        Terms of Service
      </a>
    </div>

    <div class="footer-address">
      <div>Innovate Labs, LLC</div>
      <div>830 Traction Ave #3a</div>
      <div>Los Angeles, CA 90013</div>
    </div>

  </div>

</footer>
