<footer>
  <div class="follow-us">
    <h5 data-localize="FOOTER_1">Follow Us</h5>
    <div class="footer-link">
      <a href="https://www.facebook.com/getlantern?fref=ts" target="_blank">
        <i class="fa fa-facebook-square fa-fw"></i> FB English
      </a>
    </div>
    <div class="footer-link">
      <a href="https://www.facebook.com/getlanternpersian?fref=ts" target="_blank">
        <i class="fa fa-facebook-square fa-fw"></i> FB Persian
      </a>
    </div>
    <div class="footer-link">
      <a href="https://twitter.com/getlantern" target="_blank">
        <i class="fa fa-twitter-square fa-fw"></i> Twitter
      </a>
    </div>
    <div class="footer-link">
      <a href="https://github.com/getlantern" target="_blank">
        <i class="fa fa-github-square fa-fw"></i> Contribute on Github
      </a>
    </div>
  </div>
</footer>