<header class="fixed">
      <div class="header-wrapper">
        <h1><a href="{% static '/index.html' %}">
        <p id="localedir" style="display:none;" data-locale-dir="{% static '/static/locale/lang' %}"></p>
        <img id="logo" src="{% static '/static/images/logo.png' %}" alt="Lantern">
        <img id="chineselogo" style="display:none;" src="{% static '/static/images/chineselogo.svg' %}" alt="Lantern">
        </a></h1>
        
        <a href="#download-now" class="download" data-localize="DOWNLOAD">Download</a>
        
        <div class="language-wrapper">
          {% include 'language.html' %}
        </div>
        
      </div>
</header>
