<section class="w100" id="reasons">
  <div class="section-wrapper">
    <h2 data-localize="WHY_PRO_AWESOME">Why is Lantern Pro so awesome?</h2>
    <div class="awesome-reasons">
      <div>
        <span class="checkmark">
			<img src="{% static '/static/images/large_check.svg' %}" alt="">
		</span>
        <span class="text"><b data-localize="REASON_1">Faster Speed:</b> <span data-localize="REASON_1_DETAIL">Race through websites, apps, and videos with the fastest connection possible.</span></span>
      </div>
      <div>
        <span class="checkmark">
			<img src="{% static '/static/images/large_check.svg' %}" alt="">
        </span>
        <span class="text"><b data-localize="REASON_2">No Limits:</b> <span data-localize="REASON_2_DETAIL">Lantern Pro has no limits.</span></span>
      </div>
      <div>
        <span class="checkmark">
			<img src="{% static '/static/images/large_check.svg' %}" alt="">
        </span>
        <span class="text"><b data-localize="REASON_3">Multiple Devices:</b> <span data-localize="REASON_3_DETAIL">Lantern Pro works on up to 3 devices.</span></span>
      </div>
      <div>
        <span class="checkmark">
		  <img src="{% static '/static/images/large_check.svg' %}" alt="">
        </span>
        <span class="text"><b data-localize="REASON_4">Blocking Resistant:</b> <span data-localize="REASON_4_DETAIL">Lantern Pro finds the best server in Asia, Europe and US to keep you online and surfing.</span></span>
      </div>
    </div>
    <span data-localize="JUST_RELAX">Just relax and let Lantern Pro get you the best Internet connection possible.</span>
    <p class="centered" data-localize="VISIT_FAQ">Visit our FAQs page to learn more about Lantern</p>
    <a id="faqlink" href="./faq/index.html" class="faqlink" data-localize="FAQ_LINK">FAQ</a>
  </div>
</section> 
