<!DOCTYPE html>
<html class="no-js">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Lantern - Open Internet for Everyone</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="icon" href="/static/images/favicon.png">
      <script src="{% static '/static/js/vendor/modernizr-2.6.2.js' %}"></script>
  </head>
  <body>

    {% block body %}
    {% endblock %}

    <script src="{% static '/static/js/vendor/jquery-1.10.1.js' %}"></script>
    <script src="{% static '/static/js/vendor/bootstrap.js' %}"></script>
    <script src="{% static '/static/js/main.js' %}"></script>
  </body>
  {% block scripts %}
  {% endblock %}
</html>
