/*Lantern Styles*/

/*Global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html, body {
  font-size: 16px;
  background: #fff;
  width: 100%;
  height: 100%;
}

/*Fonts*/

@font-face {
  font-family: 'prxnv_r';
  src: url('../fonts/prxnv_r.eot');
  src: url('../fonts/prxnv_r.eot?#iefix') format('embedded-opentype'),
       url('../fonts/prxnv_r.woff') format('woff'),
       url('../fonts/prxnv_r.ttf') format('truetype'),
       url('../fonts/prxnv_r.svg#prxnv_r') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'prxnv_sb';
  src: url('../fonts/prxnv_sb.eot');
  src: url('../fonts/prxnv_sb.eot?#iefix') format('embedded-opentype'),
       url('../fonts/prxnv_sb.woff') format('woff'),
       url('../fonts/prxnv_sb.ttf') format('truetype'),
       url('../fonts/prxnv_sb.svg#prxnv_sb') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Modules*/

header {
  border-top: 10px solid #75CBDA;
  padding-bottom: 3rem;
}

#download {
  padding-bottom: 3rem;
}

#download-panels {
  margin-top: 2rem;
  display: block;
  padding: 0 10%;
}

#download-mobile {
  display: none;
  padding: 0 10%;
  margin-bottom: 3rem;
}

#how {
  background: #75CBDA;
  padding: 5rem;
}

#extra {
  background: #2B8C9D;
  padding: 5rem;
}

footer {
  background: #242525;
  width: 100%;
  padding: 2rem 4rem 2.5rem;
}

/*Headings & Text*/

h1 {
  background: url('/static/images/logo.svg') no-repeat center;
  background-size: contain;
  display: block;
  margin: 4.5rem auto;
  height: 11rem;
}

h2 {
  font: normal 2.750rem/3rem 'prxnv_sb', sans-serif;
  color: #2A2A2A;
  text-align: center;
}

h3 {
  font: normal 2.250rem/2.4rem 'prxnv_sb', sans-serif;
  color: #fff;
  text-align: center;
}

h4 {
  font: normal 2.250rem/2.4rem 'prxnv_r', sans-serif;
  color: #fff;
  text-align: center;
}

h5 {
  font: normal 1.125rem/1.2rem 'prxnv_r', sans-serif;
  color: #fff;
  margin-bottom: 1.3rem;
}

p {
  font: normal 1.250rem/1.4rem 'prxnv_r', sans-serif;
  color: #2a2a2a;
}

p a {
  color: #2a2a2a;
}

p#thanks-after-email {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.2rem;
  display: none;
  color: #2B8C9D;
}

p.centered {
  width: 40vw;
  margin: 1.250rem auto;
  text-align: center;
}

p.white, p.white a {
  color: #fff;
}

p.bold {
  font-family: 'prxnv_sb', sans-serif;
}

a.button-dwnld {
  height: 3.750rem;
  display: block;
  margin: 0 auto 1.5rem;
  background-color: #75CBDA;
  color: #fff;
  border-radius: 5px;
  width: 25vw;
  font: normal 1.875rem/2rem 'prxnv_sb', sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 1rem 0;
}

p#other-systems {
  display: none;
  color: #999;
  padding: 1.5rem 0;
  font-size: 1.3rem;
}

#current-version {
  color: #999;
  visibility: hidden;
  margin: 0 auto 2rem;
  font-size: 1rem;
}

#current-version.version-added.visable {
  visibility: visible;
}

a.go-faq {
  height: 3.750rem;
  display: block;
  margin: 1rem auto;
  background-color: #2B8C9D;
  color: #fff;
  border-radius: 5px;
  width: 25vw;
  font: normal 1.250rem/1.4rem 'prxnv_sb', sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 1.1rem 0;
}

.footer-link {
  display: inline-block;
  margin-right: 1rem;
}

.footer-link a {
  color: #fff;
  text-decoration: none;
  font: normal .875rem/1.4rem 'prxnv_r', sans-serif;
}

i.fa {
  color: #97D4DF;
}

.footer-link a i {
  font-size: 1.8rem;
  vertical-align: bottom;
}

select#language-chooser {
  height: 2.3rem;
  display: block;
  margin: 1.8rem;
  background-color: rgb(255, 255, 255);
  color: rgb(42, 42, 42);
  border-radius: 5px;
  width: 15vw;
  font: normal .8rem/1.2rem prxnv_sb, sans-serif;
  text-decoration: none;
  text-align: center;
  /*padding: 1rem 0px;*/ /* Fix for https://github.com/getlantern/www/issues/32 */
  float: right;
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

#os-links {
  text-align: center;
  margin-bottom: 3rem;
}

#os-links li {
  display: inline-block;
  margin: 0 .5rem;
  padding: 0 .2rem 1.5rem;
  border-bottom: 3px solid transparent;
}

#os-links li.active {
  border-bottom-color: #75CBDA;
}

#os-links li i {
  font-size: 3.5rem;
  color: #444;
}

#download-lantern-for {
  color: #777;
  padding-bottom: 1rem;
  font-size: 1.4rem;
}

/*Forms*/

form#send-download-link-form {
  width: 100%;
}

form#send-download-link-form input[type="email"] {
  display: block;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #D2D2D2;
  padding: 10px;
  font: normal 1.875rem/2rem 'prxnv_sb', sans-serif;
  color: #2a2a2a;
  margin-bottom: .8rem;
}

form#send-download-link-form input[type="submit"] {
  display: block;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  background-color: #75CBDA;
  padding: 10px;
  font: normal 1.475rem/2rem 'prxnv_sb', sans-serif;
  color: #fff;
  border: none;
  -webkit-appearance: none;
}

form.news-form {
  width: 50vw;
  margin: 2.5rem auto 3.5rem;
}

form.news-form input[type="email"] {
  display: inline-block;
  height: 3.750rem;
  width: 70%;
  border-radius: 5px;
  border: 2px solid #D2D2D2;
  padding: 10px;
  font: normal 1.875rem/2rem 'prxnv_sb', sans-serif;
  color: #2a2a2a;
  float: left;
}

form.news-form button[type="submit"] {
  display: inline-block;
  height: 3.750rem;
  width: 28%;
  border-radius: 5px;
  background-color: #75CBDA;
  padding: 10px;
  font: normal 1.875rem/2rem 'prxnv_sb', sans-serif;
  color: #fff;
  border: none;
  margin-left: 2%;
}

/*Icons*/

.icons {
  display: block;
  margin: 4rem 0;
  padding: 0 5%;
  float: left;
  width: 100%;
}

.col {
  display: block;
  float: left;
  width: 25%;
  padding: 0 1.5rem;
}

.col img {
  display: block;
  margin: 0 auto;
  height: 7.5rem;
}

.col span {
  color: #fff;
  font: normal 1.4rem/1.6rem 'prxnv_sb', sans-serif;
  display: block;
  text-align: center;
  margin-top: 2.5rem;
}

/*Press*/

.press {
  width: 100%;
  padding: 0 4rem;
  min-height: 50px;
  margin: 3rem 0 4rem;
  text-align: center;
}

.press a {
  display: inline-block;
  height: 2rem;
  margin: 0 1.5rem 1rem;
  vertical-align: top;
}


/*FAQ*/

section#faq {
  width: 60vw;
  margin: 0 auto 5rem;
}

.question {
  width: 100%;
}

.question > a {
  font: normal 1.250rem/1.4rem 'prxnv_sb', sans-serif;
  color: #2a2a2a;
  text-decoration: none;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.question a i {
  color: #2B8C9D;
  float: right;
  margin-right: 1rem;
}

.answer {
  width: 100%;
  margin: 2.5rem 0;
  display: none;
}

.answer p a {
  color: #2B8C9D;
}

.show .answer {
  display: block;
}

/*Media Queries*/

@media all and (max-width: 1100px) {
  html, body {
    font-size: 14px;
  }

  a.button-dwnld, a.go-faq {
    min-width: 250px;
  }
}

@media all and (max-width: 800px) and (min-width: 650px) {

  a.button-dwnld, a.go-faq {
    min-width: 250px;
  }

  .col img {
    height: 5rem;
  }

  .icons {
    padding: 0;
  }

  .press {
    padding: 0;
  }

  .press a {
    margin: 0 1.5rem 2rem;
  }

  h5 {
    text-align: center;
  }

  .follow-us {
    text-align: center;
  }

  section#faq {
    width: 70vw;
  }

}

@media all and (max-width: 649px) and (min-width: 320px) {
  html, body {
    font-size: 11px;
  }

  h2 {
    padding: 0 2rem;
  }

  p.centered {
    width: 60vw;
  }

  .col {
    width: 50%;
    margin-bottom: 3.5rem;
  }

  section#how {
    padding: 5rem 2rem;
  }

  a.go-faq {
    min-width: 80%;
  }

  .col img {
    height: 5.5rem;
  }

  section#extra {
    display: none;
  }

  .footer-link {
    display: block;
  }

  h5 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  .footer-link a {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    display: block;
    margin-left: 1.5rem;
  }

  footer {
    padding: 4rem;
  }

  section#faq {
    width: 77vw;
  }

  #os-links, #current-version, #download-panels > .tab-content, #download-lantern-for {
    display: none;
  }

  #download-mobile {
    display: block;
  }

  a.button-dwnld {
    padding: 10px;
    height: 60px;
    line-height: 40px;
    width: 100%;
  }

  .footer-link a i {
    font-size: 2.8rem;
    vertical-align: middle;
  }

  select#language-chooser {
    height: 3.3rem;
    display: block;
    margin: 1.8rem 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(42, 42, 42);
    border-radius: 5px;
    width: 80%;
    font: normal 1.2rem/1.2rem prxnv_sb, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    float: none;
    -webkit-appearance: none;
  }
}

html[dir="rtl"] .footer-link {
  margin-right: 0;
  margin-left: 1rem;
}

html[dir="rtl"] select#language-chooser {
  float: left;
}

html[dir="rtl"] form.news-form input[type="email"] {
  float: right;
}

html[dir="rtl"] form.news-form button[type="submit"] {
  margin-right: 2%;
  margin-left: 0;
}

html[dir="rtl"] .icons {
  float: right;
}

html[dir="rtl"] .col {
  float: right;
}

html[dir="rtl"] .question a i {
  float: left;
  margin-right: 0;
  margin-left: 1rem;
}

@media all and (max-width: 649px) and (min-width: 320px) {
  html[dir="rtl"] .footer-link a {
    margin-right: 1.5rem;
    margin-left: 0;
  }
}
