<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Lantern - Faster than a VPN</title>
    <meta name="description" content="Lantern delivers fast, reliable and secure access to the open internet. Download Lantern for free access to blocked videos, news, social media and more. Available for Windows, Android, Mac, Ubuntu.">
    <meta name="viewport" content="width=device-width">

    {% for lang in available_languages %}
    <link rel="alternate" href="/{{lang}}/" hreflang="{{lang|replace('_', '-')}}">
    {% endfor %}
    <link rel="alternate" href="/en_US/" hreflang="x-default">

    <link rel="icon" sizes="124x124" href="/favicon.ico?v=2">
    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/dropdown_style.css">
    <link rel="stylesheet" href="../static/css/noJS.css">
    <link rel="stylesheet" href="../static/js/slick/slick.css">
    <link rel="stylesheet" href="../static/js/slick/slick-theme.css">

    <script src="../static/js/vendor/modernizr-2.6.2.js"></script>
  </head>
  <body>
    <header class="fixed">
      <div class="header-wrapper">
        <h1>
          <a href="./">
            <img src="../static/images/logo_en.svg" alt="Lantern">
          </a>
        </h1>
        
        <div id="dd" class="select-dropdown" tabindex="1">Select language
            <ul class="dropdown">
              {% for lang, text in language_mapping %}
              <li><a href="/{{lang}}/">{{text}}</a></li>
              {% endfor %}
			</ul>
		</div>
       
        <a href="" class="download">Download Free</a>
        
        <a href="./faq.html">FAQs</a>
        
      </div>
    </header>

    
<section class="w100 intro-desktop" id="intro-desktop">
  <div>
    <h2>Faster than a VPN</h2>
    <span>Fast, reliable and secure access to the open internet</span>
  </div>
  <div class="intro-bg with-images">
    <p>Download Lantern to easily access blocked videos,<br>
 news, social media, apps and more</p>
    <a href="" class="download-btn">Download Free</a>
    <span>
      For
      <a class="download-windows">Windows</a>,
      <a class="download-android">Android</a>,
      <a class="download-mac">Mac</a>,
      <a class="download-ubuntu">Ubuntu</a>.
    </span>
    <a href="https://play.google.com/store/apps/details?id=org.getlantern.lantern" class="google-badge">
      <img src="../static/images/badge_google_en.png" alt="">
    </a>
  </div>  
</section>

 
<section class="w100" id="intro-mobile">
  <div class="intro-bg">
    <h2>Faster than a VPN</h2>
    <span>Fast, reliable and secure<br>access to the open internet</span>
    
    <div class="bottom-info">
      <a href="" class="download-btn">Download Free</a>
      <span>
        For
        <a class="download-windows">Windows</a>,
        <a class="download-android">Android</a>,
        <a class="download-mac">Mac</a>,
        <a class="download-ubuntu">Ubuntu</a>.
      </span>
      <a href="https://play.google.com/store/apps/details?id=org.getlantern.lantern" class="google-badge on-mobile">
        <img src="../static/images/badge_google_en.png" alt="">
      </a>
    </div>
    
  </div>  
</section>


<section class="w100" id="features">
  <div class="section-wrapper">
   
    <div class="feat-col">
      <img src="../static/images/icon_fast.png" alt="">
      <h3>Fast</h3>
      <p>Lantern uses geo-optimized servers, and only proxies blocked sites, to maximize browsing speed, letting you stream HD videos instantaneously.</p>
    </div>
    
    <div class="feat-col">
      <img src="../static/images/icon_reliable.png" alt="">
      <h3>Reliable</h3>
      <p>Lantern uses a variety of techniques to bypass internet censorship and firewalls so you can keep surfing with uninterrupted access.</p>
    </div>
    
    <div class="feat-col">
      <img src="../static/images/icon_secure.png" alt="">
      <h3>Secure</h3>
      <p>Lantern encrypts all of your traffic to blocked sites and services to protect your data and privacy.</p>
    </div>
    
    <div class="feat-col">
      <img src="../static/images/icon_easy.png" alt="">
      <h3>Easy</h3>
      <p>Lantern is easy to use, just download and install to start streaming, browsing and using apps - no configuration required.</p>
    </div>
    
  </div>
</section>

<section class="w100" id="reviews">
  <div class="section-wrapper">
    
    <div class="carousel">
     
      <div class="car-item">
        <img src="../static/images/review_stars.png" alt="">
        <p class="quote">
          “<b>Awesome and Fast</b> Lantern is much better than a VPN. Love this app, just shared it with all my friends.”
        </p>
        <span>- Lantern User comment on GooglePlay Store</span>
      </div>
      
      <div class="car-item">
        <img src="../static/images/review_stars.png" alt="">
        <p class="quote">
          “<b>Best</b> The quickest and the best app ever. Others just keep on buffering but this one is lightning quick.”
        </p>
        <span>- Lantern User comment on GooglePlay Store</span>
      </div>
      
      <div class="car-item">
        <img src="../static/images/review_stars.png" alt="">
        <p class="quote">
          “<b>Soooooooo good</b> It works as soon as you turn it on and you can basically access any website!”
        </p>
        <span>- Lantern User comment on GooglePlay Store</span>
      </div>
      
      <div class="car-item">
        <img src="../static/images/review_stars.png" alt="">
        <p class="quote">
          “<b>Perfect</b> Use it daily to get WhatsApp calls while behind a restrictive firewall. I love it.”
        </p>
        <span>- Lantern User comment on GooglePlay Store</span>
      </div>
      
    </div>
    
  </div>
</section>


<section class="w100" id="press">
  <div class="section-wrapper">
  <div class="press">
    <a href="http://sinosphere.blogs.nytimes.com/2015/03/30/q-and-a-adam-fisk-on-evading-internet-censorship-in-china/" target="_blank">
      <img src="../static/images/nytimes.svg" alt="">
    </a>
    <a href="http://www.scmp.com/news/china-insider/article/1372661/use-lantern-software-means-view-banned-websites-grows-china" target="_blank">
      <img src="../static/images/schmpost.svg" alt="">
    </a>
    <a href="http://motherboard.vice.com/read/this-app-lets-chinas-netizens-use-twitter-where-its-censored" target="_blank">
      <img src="../static/images/vice.svg" alt="">
    </a>
    <a href="http://www.washingtonpost.com/blogs/the-switch/wp/2014/08/21/using-peer-to-peer-technology-to-crowdsource-a-way-around-online-censorship/" target="_blank">
      <img src="../static/images/washpost.svg" alt="">
    </a>
    <a href="http://www.dailydot.com/politics/lantern-online-censorship/" target="_blank">
      <img src="../static/images/dailydot.svg" alt="">
    </a> 
    <a href=" http://www.wsj.com/articles/u-s-cloud-providers-face-backlash-from-chinas-censors-1426541126" target="_blank">
      <img src="../static/images/wallstjournal.svg" alt="">
    </a>
    <a href="http://www.businessinsider.com/firetweet-gives-mobile-twitter-access-in-censored-countries-2015-6" target="_blank">
      <img src="../static/images/bussins.svg" alt="" style="max-height: 3rem">
    </a>
    <a href="http://www.fastcoexist.com/3046650/is-some-autocratic-regime-blocking-your-twitter-firetweet-will-let-you-in" target="_blank">
      <img src="../static/images/fastco.svg" alt="">
    </a>
  </div>
  </div>
</section>



    <footer>
    
    <div class="newsletter">
    <h4>Sign up for our newsletter</h4>
    <form class="news-form" action="//getlantern.us2.list-manage.com/subscribe/post?u=0ac18298d5d0330dcda8f48aa&amp;id=f06770f311" method="POST" target="_blank">
      <input name="EMAIL" type="email" placeholder="your@email.com">
      <input type="submit" value="Join">
    </form>
  </div>
  
  
  <div class="follow-us">
    <div class="footer-link">
      <a href="./faq.html" target="_blank">
        <span class="desktop-txt">Frequently Asked Questions</span>
        <span class="mobile-txt">FAQs</span>
      </a>
    </div>
    <div class="footer-link">
      <a href="https://groups.google.com/forum/#!forum/lantern-users-en" target="_blank">
        Support
      </a>
    </div>
    <div class="footer-link">
      <a href="https://www.facebook.com/getlantern?fref=ts" target="_blank">
      Facebook
      </a>
    </div>
    <div class="footer-link">
      <a href="https://twitter.com/getlantern" target="_blank">
       Twitter
      </a>
    </div>
    <div class="footer-link">
      <a href="https://reseller.lantern.io/" target="_blank">
        <span class="desktop-txt">Lantern Pro Reseller</span>
        <span class="mobile-txt">Pro Reseller</span>
      </a>
    </div>
    <div class="footer-link">
      <a href="https://github.com/getlantern" target="_blank">
        <span class="desktop-txt">Contribute on GitHub</span>
        <span class="mobile-txt">GitHub</span>
      </a>
    </div>
    <div class="footer-link">
      <a href="https://s3.amazonaws.com/lantern/LanternPrivacyPolicy.pdf" target="_blank">
      Privacy Policy
      </a>
    </div>
    <div class="footer-link">
      <a href="https://s3.amazonaws.com/lantern/Lantern-TOS.pdf" target="_blank">
      Terms of Service
      </a>
    </div>
  </div>
  
  
  
  <div class="address">
    <address> CONTACT US: <br>
support@getlantern.org </address>
    <address> Innovate Labs, LLC <br>
830 Traction Ave #3a <br>
Los Angeles, CA 90013 </address>
  </div>
</footer>
   
    <script src="../static/js/vendor/jquery-1.10.1.js"></script>
    <script src="../static/js/vendor/platform.min.js"></script>
    <script src="../static/js/slick/slick.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/download.js"></script>
  </body>

  
  
</html>
